#userdata {
  display: flex;
  float: unset;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.user {
  cursor: pointer;
  display: block;
  padding: 50px;
  margin: auto;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../../../Projects/image/usericon.png");
  background-size: contain;
}

.record {
  display:block;
  width: auto;
  height: auto;
  background-color: #0288d1;
}


/*달력부분*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.note {
  font-size: calc(0.5vw + 0.75rem);
  text-align: center;
  opacity: 0.5;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 0.6875em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  background-color: #37474F;
  border-radius: 1.5em;
  cursor: pointer;
}

.calendar-wrap {
  width: 100%;
  padding: 0.75em;
  margin: auto;
  font-size: 4vw;
  background-color: #fff;
  border-radius: 1.5em;
  user-select: none;
  box-shadow:
    0 0.0625em 0.25em rgba(0,20,50,0.2),
    0 0.5em 0.5em 0.125em rgba(0,20,50,0.1);
}

@media (min-width: 500px) {
  .calendar-wrap {
    width: 450px;
    font-size: 1.25rem;
  }
}

.month-year {
  margin-bottom: 0.75em;
  font-weight: normal;
  font-size: 1.25em;
  text-align: center;
}

.calendar {
  display: none;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0.75em;
  overflow: hidden;
  border-collapse: collapse;
  -webkit-tap-highlight-color: transparent;
}

.day-title {
  width: 4em;
  height: 4em;
  vertical-align: top;
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  box-shadow:
    inset 0 -0.875em #fff,
    inset 0 -1em rgba(0,20,50,0.1);
}

.day {
  position: relative;
  height: 3em;
}

.day:focus {
  outline: none;
}

.day:focus .day-number::after
 {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%,-50%);
  border: 0.25em solid #02d144;
  border-radius: 50%;

}

.day.active-a:focus .day-number::after,
.day.active-b:focus .day-number::after {
  width: 100%;
  height: 100%;
}

.day.today:focus .day-number::after {
  width: 102%;
  height: 102%;
}

.day:hover span.day-number {
  color: #0288d1;
}

.day:first-child,
.day:last-child {
  color: rgba(0,0,0,0.5);
}

.day.range {
  color: #0288d1;
  background-color: #e1f5fe;
}

.day.range.active-a,
.day:not(.range) + .day.range.active-b {
  background-color: transparent;
  box-shadow: inset -1.5em 0 #e1f5fe;
}

.day.range.active-b,
.day.range + .day.range.active-a {
  background-color: transparent;
  box-shadow: inset 1.5em 0 #e1f5fe;
}

.day.range.active-a:first-child,
.day.range.active-b:first-child {
  box-shadow: none;
}

.day.range.active-a:first-child + .day.range,
.day.range.active-b:first-child + .day.range {
  box-shadow: -1.5em 0 #e1f5fe;
}

.day.range.active-a:first-child + .day:not(.range),
.day.range.active-b:first-child + .day:not(.range) {
  box-shadow: -4.5em 0 #e1f5fe;
}

.day.range.active-a:first-child + .day.range.active-b {
  box-shadow:
    -1.5em 0 #e1f5fe,
    inset 1.5em 0 #e1f5fe;
}

.day-number {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  border-radius: 50%;
}

.day.active-a span.day-number,
.day.active-b span.day-number {
  color: #fff;
  background-color: #03A9F4;
}

.day.prev-mon .day-number,
.day.next-mon .day-number {
  color: rgba(0,0,0,0.3);
}

.day.prev-mon[class*="active"] .day-number,
.day.next-mon[class*="active"] .day-number {
  color: rgba(255,255,255,0.5);
  background-color: #81D4FA;
}

.day.today span.day-number {
  color: #fff;
  border: 0.25em solid transparent;
  box-shadow: inset 0 0 0 2em #37474F;
}

.calendar-wrap .reset {
  display: block;
}


/*달력부분끝*/

.playlist {
  cursor: pointer;
  display: inline-flex;
  padding: 50px;
  margin: auto;
  width: 80px;
  height: 80px;
  justify-content: center;
  border-style: solid;
  border-color:#333;
  align-items: center;
  overflow: hidden;
}

#slider {
  margin: 0 auto;
  margin-left: 100px;
  width: 1200px;
  max-width: 100%;
  text-align: center;
  z-index: -1;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner{
  margin-left: 0;
}
#slide2:checked ~ #slides .inner{
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner{
  margin-left: -200%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.0770, 0.000, 0.175, 1.000);
  width: 500%;
  line-height: 0;
  height: 200px;
}

#slides .slide {
  width: 20%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#slides .slide_1{
  background: lightcyan;
}
#slides .slide_2{
  background: lightskyblue;
}
#slides .slide_3{
  background: mediumturquoise;
}

.slide-content {
  padding: 10px;
}

#controls {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #333;
}
#controls label:hover {
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1)
{
  background: url(../image/next.png) center no-repeat;
  background-size: contain;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(3),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2)
{
  background: url(../image/previous.png) center no-repeat;
  background-size: contain;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets {
  margin: 100px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3)
{
  background: #333;
}

#mt{
  display:flex;
  justify-content: center;
  text-align: center;
}