/* Global settiong */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #f6f6f6;
    --color-blue: #73aace;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

* {
    box-sizing: border-box;
}

body {
    /* height: 100vw; */

    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size: var(--font-regular);
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    /* color: var(--color-black); */
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    /* color: var(--color-black); */
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

header {
    background-color: var(--color-dark-grey);
    height: 4vw;
}

.content {
    /* justify-content: center;
    text-align: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

section {
    justify-content: center;
    text-align: center;
    margin: 2vh;
}

/* 1. 상단 : 감정 분석 페이지 이동 */
#banner {
    margin-bottom: 10vh;

}

.picture {
    margin-top: 3vh;
    width: 55%;
    height: 25%;
    object-fit: cover;
}


/* 음악 개별 */
.album {
    width: 10vw;
    margin: 0.3vw;
}
.topic {
    text-align: left;
    margin-left: 1vw;
}
.line {
    height: 1px;
    background-color: #b0b0b0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* 2. 첫번째 음악 목록 : 감정별 랜덤 */
.playlist__emotion{

}


/* 3. 두번째 음악 목록 : TopDaily */
.playlist__top {
    margin-bottom: 10vh;
}


button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}