/* Global settiong */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #f6f6f6;
  --color-blue: #73aace;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  /* height: 100vw; */

  padding: 0;
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  font-size: var(--font-regular);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-black); */
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  /* color: var(--color-black); */
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

header {
  background-color: var(--color-dark-grey);
  height: 4vw;
}

.content {
  /* justify-content: center;
    text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

section {
  justify-content: center;
  text-align: center;
  margin: 2vh;
}

.feed {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

/* 1. 유저 달력 */
.calendar {
  margin-right: 2vw;
  justify-content: left;
}

/* 2. 유저 프로필 */
.profile {
  width: 10%;
}

.picture {
  border-radius: 50%;
}

/* 3. 유저의 음악 목록 */
.playlist {
  margin-top: 5vh;
  margin: 1%;
}

.playlist__emotion {
  width: 60vw;
}

/* 음악 개별 */
.album {
  width: 10vw;
  margin: 0.3vw;
}

.topic {
  text-align: left;
  margin-left: 1vw;
}

.line {
  height: 0.8px;
  background-color: #636363;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}


/*앨범 커버*/
.playlist {
  cursor: pointer;
  display: inline-flex;
  padding: 30px;
  margin: 1vw;
  width: 10vw;
  height: 10vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.playlist:hover {
  background-color: rgba(0, 0, 0, 0.212);
}


/*1번 롤링배너*/
#slider {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  text-align: center;
  z-index: -1;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

/* #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 0;
  } */
#overflow {
  /* width: 100%; */
  overflow: hidden;
}

#slide1:checked~#slides .inner {
  margin-left: 0;
}

#slide2:checked~#slides .inner {
  margin-left: -100%;
}

#slide3:checked~#slides .inner {
  margin-left: -200%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.0770, 0.000, 0.175, 1.000);
  width: 500%;
  line-height: 0;
  height: 200px;
}

#slides .slide {
  margin: 0;
  padding: 0;
  width: 20%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

/* 
.slide-content {
  padding: 10px;
} */

#controls {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #333;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(1) {

  background: url(images/right.png) center no-repeat;
  background-size: contain;
  opacity: 60%;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}

#slide1:checked~#controls label:nth-child(3),
#slide2:checked~#controls label:nth-child(1),
#slide3:checked~#controls label:nth-child(2) {
  background: url(images/left.png) center no-repeat;
  background-size: contain;
  opacity: 60%;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets {
  margin: 100px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3) {
  background: #333;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 12px;
  /*스크롤바의 너비*/
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-white);
  /*스크롤바의 색상*/
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba(249, 249, 249, 0.85)
    /*스크롤바 트랙 색상*/
}