/* Global settiong */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #d3d3d3;
  --color-blue: #73aace;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  /* height: 100vw; */
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  font-size: var(--font-regular);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-black); */
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  /* color: var(--color-black); */
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

header {
  background-color: var(--color-dark-grey);
  height: 10vh;
}

#logo {
  position: relative;
  top: 3vh;
  left: 2vw;
  height: 5vh;
}


/* 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
  /*스크롤바의 너비*/
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-white);
  /*스크롤바의 색상*/
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgba(249, 249, 249, 0.85)
  /*스크롤바 트랙 색상*/
}

#search {
  align-items: center;
  justify-content: center;
  display: flex;
}


/* 검색바 */
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
}

  .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
  }

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}

#feed {
  position: relative;
  top: -4vh;
  left: 91vw;
  width: 10vw;
}

a {
  color: black;
  text-decoration: none;
}

.content {
  /* justify-content: center;
    text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

section {
  justify-content: center;
  text-align: center;
  margin: 2vh;
}

ul {
  padding: 0;
}

.sample {
  display: flex;
  flex-direction: row;
}

/* 1. 상단 : 감정 분석 페이지 이동 */
#banner {
  margin-bottom: 10vh;
}

.picture {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 70vw;
  height: 25%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* 2. 첫번째 음악 목록 : 감정별 랜덤 */
/* 3. 두번째 음악 목록 : TopDaily */

li{
  transition: 0.8s;
}

li:hover{
  transform: scale(1.1);
}

.playlist__emotion, .playlist__top {
  width: 70vw;
}

/*앨범 커버*/
.playlist {
  cursor: pointer;
  display: inline-flex;
  margin: 1vw;
  width: 15vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

/* 음악 개별 */
.album {
  width: 12vw;
  height: 12vw;
  background-size: contain;
  /* margin: 0.3vw; */
}

.sub {
  width: 12vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 12vw;
  text-align: start;
  margin-top: 2vh;
  font-size: small;
  color:var(--color-dark-grey);
  text-overflow: ellipsis;
  white-space:nowrap;
  flex-basis: 10vw;
}

.like {
  width: 15px;
  height: 15px;
  flex-basis: 1vw;
  margin-top: 2vh;
  margin-right: 0.3vw;
  position:relative;
  display: block;
}

.like:hover{
    content: url('../images/hover-like.png');
}
.like_toggle {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.topic {
  text-align: left;
  margin-left: 1vw;
}

.line {
  height: 0.8px;
  background-color: #636363;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* 가장 아래 */
.bottom_nav {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

#bottom_line {
  width: 90vw;
  height: 0.1px;
  background-color: var(--color-light-grey);
}

