/* Global settiong */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #d3d3d3;
  --color-blue: #73aace;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 23px;
  --font-regular: 18px;
  --font-: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  /* height: 100vw; */

  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-regular);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-black); */
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  /* color: var(--color-black); */
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

a {
  color: black;
  text-decoration: none;
}

.content {
  /* justify-content: center;
    text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

section {
  justify-content: center;
  text-align: center;
  margin: 2vh;
}

ul {
  padding: 0;
}

sample {
  display: flex;
  flex-direction: row;
}

/* 1. 상단 : 감정 분석 페이지 이동 */
#banner {
  margin-bottom: 10vh;
}

.picture {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 70vw;
  height: 25%;
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* 2. 첫번째 음악 목록 : 감정별 랜덤 */
/* 3. 두번째 음악 목록 : TopDaily */
.playlist__emotion, .playlist__top {
  width: 70vw;
}

/*앨범 커버*/
.playlist {
  cursor: pointer;
  display: inline-flex;
  margin: 1vw;
  width: 15vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

/* 음악 개별 */
.album {
  width: 12vw;
  height: 12vw;
  background-size: contain;
  /* margin: 0.3vw; */
}

.title {
  width: 12vw;
  text-align: start;
  margin-top: 2vh;
  font-size: small;
  color: #101010;
  text-overflow: ellipsis;
  white-space:nowrap;
  font-family: 'Poppins', sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.topic {
  text-align: left;
  margin-left: 1vw;
  font-size: var(--font-medium);
  font-weight: 600;
}

.line {
  height: 0.8px;
  background-color: #636363;
  margin-top: 1vh;
  margin-bottom: 1vh;
}


/* 가장 아래 */
.bottom_nav {
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-bottom: 10vh;
}

#bottom_line {
  width: 90vw;
  height: 0.1px;
  background-color: var(--color-light-grey);
}

#pagination {
  margin-left: 30vw;
}

.paginationjs .paginationjs-pages li {
  /* float: left; */
   border: none;
  /* list-style: none; */
}

li:last-child {
  border: none;

}

.paginationjs .paginationjs-pages li:last-child {
  border: none;
}